.header-container {
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-bottom: 3rem;
}

.header-image {
  border-radius: 24px;
}

.about-me,
.stay-connected,
.tech-stack,
.github-stats {
  margin-bottom: 2rem;
}

.img_size {
  width: 27px;
  height: 27px;
}

.github-stats {
  display: flex;
  align-items: start;
}

.video-container {
  display: flex;
  justify-content: center;
  /* margin: 2rem 0 1rem 0; */
}

video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
